In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Carnarvon,-24.8667,113.6333,70.68,71,0,10.69,AU,2022-07-14 01:37:49
1,1,Gazalkent,41.5581,69.7708,80.02,29,0,6.44,UZ,2022-07-14 01:37:50
2,2,Pangnirtung,66.1451,-65.7125,45.97,85,84,2.71,CA,2022-07-14 01:35:46
3,3,Deputatskiy,69.3000,139.9000,51.62,66,100,6.51,RU,2022-07-14 01:33:19
4,4,Dikson,73.5069,80.5464,44.55,70,99,5.21,RU,2022-07-14 01:37:50

In [5]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
[max(temp,0) for temp in max_temp]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Gazalkent,41.5581,69.7708,80.02,29,0,6.44,UZ,2022-07-14 01:37:50
6,6,Lompoc,34.6391,-120.4579,78.01,76,0,13.80,US,2022-07-14 01:37:51
9,9,Aswan,24.0934,32.9070,85.30,20,0,5.75,EG,2022-07-14 01:37:52
11,11,Dawlatabad,36.4141,64.9053,80.62,23,0,3.76,AF,2022-07-14 01:37:52
17,17,Gazli,40.1333,63.4500,85.28,23,0,16.84,UZ,2022-07-14 01:37:54
20,20,Kapaa,22.0752,-159.3190,85.98,73,20,17.27,US,2022-07-14 01:33:22
25,25,Eydhafushi,5.1033,73.0708,82.58,74,100,14.56,MV,2022-07-14 01:37:56
27,27,Namatanai,-3.6667,152.4333,83.03,77,98,7.14,PG,2022-07-14 01:37:56
28,28,Vaini,-21.2000,-175.2000,76.89,85,12,19.73,TO,2022-07-14 01:37:57
35,35,Zunyi,27.6867,106.9072,79.86,73,50,9.24,CN,2022-07-14 01:37:59

In [23]:
preferred_cities_df.count()

City_ID       200
City          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
Country       200
Date          200
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Gazalkent      UZ     80.02  41.5581   69.7708
6       Lompoc      US     78.01  34.6391 -120.4579
9        Aswan      EG     85.30  24.0934   32.9070
11  Dawlatabad      AF     80.62  36.4141   64.9053
17       Gazli      UZ     85.28  40.1333   63.4500
20       Kapaa      US     85.98  22.0752 -159.3190
25  Eydhafushi      MV     82.58   5.1033   73.0708
27   Namatanai      PG     83.03  -3.6667  152.4333
28       Vaini      TO     76.89 -21.2000 -175.2000
35       Zunyi      CN     79.86  27.6867  106.9072

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Gazalkent,UZ,80.02,41.5581,69.7708,Khumson Sanatoriy
6,Lompoc,US,78.01,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
9,Aswan,EG,85.30,24.0934,32.9070,Nuba Nile
11,Dawlatabad,AF,80.62,36.4141,64.9053,WASIM ASGAR KHAN
17,Gazli,UZ,85.28,40.1333,63.4500,UTG Uy-joy kommunal xoʻjaligi
20,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Eydhafushi,MV,82.58,5.1033,73.0708,Soneva Fushi
27,Namatanai,PG,83.03,-3.6667,152.4333,Seagulls Inn Namatani
28,Vaini,TO,76.89,-21.2000,-175.2000,Keleti Beach Resort
35,Zunyi,CN,79.86,27.6867,106.9072,Bishiluo Hostel

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))